<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">What is hEARS?</h2>
                    <!-- <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3> -->
                    <br>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-6">
                  <img src="img/logos/hears.jpg" class="img-responsive img-centered" alt="">
                  <br>
                    <p class="text-muted">hEARS or the hEaring Aid Remodeled Smartly is a first-of-its-kind technology in healthcare today. With this simple but robust technology, hEARS answers the most common problems that hound elderlies –- hearing issues and poor accessibility to public and health services. </p>
                </div>
                <div class="col-md-6">
                  <img src="img/logos/itu.png" class="img-responsive img-centered" alt="">
                  <br>
                    <p class="text-muted">hEARS’ participation in the 2013 Young Innovators Challenge of the United Nation's International Telecommunication Union (ITU) has paved way for the team to be included in the organization’s List of 150 Innovators in 2015. Learn more about ITU's amazing milestone and other young people's awesome innovations here.</p>
                </div>
                <!-- <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Web Security</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div> -->
            </div>
        </div>
    </section>
